body{margin:0px;background:#f8f8f8;font-family: 'Roboto', sans-serif;}
/*Start header*/
.box{width:100%;background:#222;height:732px;position:absolute;opacity:0.5;}
.contain{padding:0px;   }
.other{background:white;position:fixed;}
.header{position:relative;}
.head{background-image:url("../images/Shefa.jpg");background-size: cover;height: 732px;background-attachment:fixed;margin-bottom:5%;}
.logo{margin-top:10px;margin-left:20%; }
img{width:150px;margin-top:20px;margin-left:20%; }
.hand{width: 406px;position: absolute;top: 130px;left: 10px;}
 .head .navul{border-top:1px solid white;padding:15px 0px;margin:0px;float:right;margin-top:2%;text-decoration:none;
font-weight:300;display:none;position:fixed;z-index:9999;}
 .head .navul li:hover a{color:#ff5f83;transition:0.1s ease-in;}
 .head .navul li{list-style-type:none;display:inline-block;padding-left:30px;padding-right:10px;text-decoration:none;}
 .static{padding-top: 0px;float: right;text-decoration:  none;font-weight: 100;border: none;position:fixed;z-index:9999;top: 25px;right: 35px;display:  none;}
 .static li{list-style-type:none;display:inline-block;padding-left:30px;padding-right:10px;text-decoration:none;}
 .head .static li a{color:white;}
 .head .static li .activea{color:#ff5f83;}
.bars{border:1px solid black;border-radius:15%;padding:8px 12px;color: black;background:#f50079;
position:fixed;z-index:9999;top:25%;right:5%;cursor:pointer;}
.bars i{font-size:20px;padding-left:15%;}
.respons{margin-left: 22%;padding-top:2%;}
a{text-decoration:none;color: white;font-size: 13px;font-weight:300;}
a:hover{color:white;text-decoration:none;}
.activea{color:#ff5f83;}
h1{color: white;font-size: 45px;margin-top: 30%;line-height: 64px;padding-right: 23%;font-weight: 300;}
.zero{color:white;font-size:20px;padding-bottom:25px;}
.icon{display:inline-block;border: 2px solid white;border-radius: 50px;font-size:17px;
 padding: 17px 33px;width: 185px;margin-right: 15px;}
.icon:hover{background:white;color:black;}
.icons{display:inline-block;border: 2px solid white;border-radius: 50px;font-size:17px;
 padding: 17px 33px;width: 185px;margin-right: 15px;}
.icons:hover{background:white;color:black;}
i{margin-right: 5px;vertical-align: middle;  }
/*Start Parts*/
.first{background:#fff;text-align:center;z-index:2px;margin-left: 2px;margin-bottom:50px;margin-top:50px;}
.scrollup{position:fixed;background:#f75b6b;font-size:18px;padding:10px 10px;color:black;}
.second{border:1px solid lightgray;border-radius:50%;padding:23px 25px;color:black;background:transparent;
font-size:25px; margin-top:20%;  }
h2{color:black;font-size:20px;  }
.secondp{color:black;padding: 15px 45px 50px 45px;}
.first:hover{box-shadow: 0px 60px 60px rgba(0,0,0,0.1);position: relative;z-index: 100;transform: translate(0, -13px);transition:all .5s;}
.first:hover i{background:#ff5f83;border:1px solid #ff5f83;color:#fff;transition:all .5s;}
.secondcol{padding:0px;}
.download{width:100%;text-align:left;background:white;height:650px;}
.secdownload{width:100%;text-align:left;background:white; height:600px;}
.download.photo_part{width:60%;float:right;}
.download.photo_part{ width:60%;float:left;}
.photo{width:35%;float:right;animation-name:bounceIn;animation-duration:1.5s;}
.image{width:50%;float:left;margin-left:85px;animation-name:bounceIn;animation-duration:1.5s;}
@keyframes bounceIn {
  0% {opacity: 0;-webkit-transform: scale(.3);-ms-transform: scale(.3);transform: scale(.3);}
  50% {opacity: 1;-webkit-transform: scale(1.05); -ms-transform: scale(1.05);transform: scale(1.05);}
  70% {-webkit-transform: scale(.9);-ms-transform: scale(.9);transform: scale(.9);}
  100% {opacity: 1;-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
}
h3{font-size: 45px;font-weight:300i;}
span{font-weight:600;font-size:45px;}
.thirdp{color:black;font-size: 20px;font-weight:100;margin-bottom:40px;}
.download .install{width:40%;margin-top:15%;float:left;}
.secdownload .install{width:40%;margin-top:15%;float:right; }
.installa{border: 1px solid #d2d1d5;background: #d2d1d5;padding: 13px 40px;color: #574f4f;font-size: 15px;}
.installa:hover{border: 1px solid #ff5f83;background:#ff5f83 ;color: white;}
.features{background:white;}
.best{margin-left:45px;}
.info{width: 100%;margin-top: 20px;margin-left:0px;}
.owl_theme{width: 1143px; margin: 0px auto;overflow: hidden;}
.slide_owl{display:block;width: 4560px;}
.slide_image{left: 0px;}
.item{width:285px;display:inline-block;padding-right:10px;padding-left:10px;position: relative;transition: all 100ms slow;
transform: translate3d(-285px, 0px, 0px);animation:slideshow 3 linear infinite;left: 270px;}
.item img{width:100%;margin-left:0px;margin-top:0px;}
.center{text-align:center;margin-top:5px;margin-top:20px;}
.active_dot{width: 12px; margin: 5px 5px;height: 12px;background-color: #13bfb1;border-radius: 20px;  display:inline-block;}
.dot{width: 12px; margin: 5px 5px;height: 12px;background-color:#f50079;opacity:0.5;border-radius: 20px; display:inline-block;}
.parts3{padding-top:5%;}
.parts2{padding-top:5%;}
.screenshots{text-align:center;margin-bottom:30px;animation-name:bounceIn; animation-duration:2s;}
.row{margin-right:0px;margin-left:0px;}
.padd{ padding-left:0px; padding-right:0px;}
.second_screen{text-align:center;margin:0px 0px 30px 0px;animation-name:bounceIn;animation-duration:2s;}
.screen{color:black;font-size:25px;  }
.shots{color:gray;   }
.line{border-top: 1px dashed gray;width: 7%;margin-left: 46.5%;padding-bottom:10px;}
.video{background:url("http://ekramit.net/tf/shefa-demo/shefa/light-version/assets/img/bg/video-bg.jpg");
background-size:cover;background-position:center; margin-top:50px;width:100%;height:375px;position:relative; }
.play{text-align:center;margin-top:13%; }
.play .second{background:#ff5f83;color:white;}
.sec_play{margin-bottom:10%;border:1px solid lightgray;border-radius:50%;padding:30px 30px;color:white;background:#ff5f83;
font-size:30px;margin-top:20%;}
.sec_play i{margin-left:0.5%;}
.sec_play:hover{color:white;}
.play h2{color:white;padding-top:1%;}
.iframe{padding:5px;background:rgb(0, 47, 90);margin-top: 113px;position:relative;}
.iframes{display:none;position:fixed;top: 0px;left: 0px;z-index:9999;width: 101vw;height:100vh;background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;}
.price{background:white;text-align:center;border:1px solid lightgray;box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
border-radius:1%;padding-bottom:15px;margin-bottom:50px;}
.simple{padding:0px;margin:20px 0px 25px 0px;}
.test{text-align:center;margin-top:30px;margin-bottom:30px;animation-name:bounceIn;animation-duration:2s;  }
.responsive{border-bottom:1px solid lightgray;padding:13px;font-size:15px;width:100%;color:gray;font-weight: 100;list-style:  none;}
h4{margin-top:30px;}
h5{color:#ff5f83;font-size: 33px;}
.order{color: white;background: #ff5f83;padding: 10px 30px;border-radius: 17px;text-decoration: none;
margin-top: 15px;z-index:1;}
.order:hover{box-shadow: 0px 60px 60px rgba(0,0,0,0.1);color:white;z-index:10;}
.plan{ padding-top:5%;}
.plans{text-align:center;margin-bottom:30px;animation-name:bounceIn; animation-duration:2s;  }
.price_active{background:#ff5f83;text-align:center;box-shadow: 
0 16px 38px 0px rgba(0, 0, 0, 0.50),
0 4px 25px 0px rgba(0, 0, 0, 0.12),
0 8px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius:1%;padding-top:1px;padding-bottom:15px;margin-bottom:50px;}
.order_active{color: #ff5f83;background: white;padding: 10px 30px;border-radius: 17px;text-decoration: none;
margin-top: 15px;z-index:1;}
.active{color:white;font-size: 33px;}
.simple_active{padding:0px;margin:20px 0px 25px 0px;  }
.responsive_active{border-bottom:1px solid lightgray;height: 48px;padding-top: 13px;margin-top: 0px;font-size: 15px;width:100%;color:white;font-weight: 100;list-style:  none;}
.h_active{margin-top:30px;color:white;}
.slider{width: 1143px;margin: 0 auto;overflow: hidden;}
.comp{overflow:hidden;}
.company_slide{margin:0 auto;width:2575px;}
.slide_act{width:340px;
padding: 35px;border:1px solid lightgray;background:white;display: inline-block;margin-left:15px;}
.slide_sec{width:340px;padding: 35px;border:1px solid lightgray;margin-left: 15px;background:white;display:inline-block;}
.slide_sec .p_name{color:black;font-size:20px;margin-top:0;padding:0px;line-height:0;position:absolute;top: 18%;
margin-left:10%;}
.slide_sec .c_name{color:gray;font-size:20px;position:absolute;top: 18%;margin-left:10%;}
.left{position: absolute;top: 0;left: 1287.5px;}
.p_info{border-radius:50%;border:3px solid lightgray; width:80px; margin-top: 0px; margin-bottom: 20px; margin-left:5%;}
.p_name{color:black;font-size:20px;margin-top:0;padding:0px;line-height:0;position:absolute;top: 18%;margin-left:4%;}
.c_name{color:gray;font-size: 20px;position:absolute;top: 18%;margin-left:4%;}
.content{font-size: 15px;color:gray;margin-bottom:10px;}
.act_dot{width: 12px; margin: 5px 5px; height: 12px; background-color: #13bfb1; border-radius: 20px;
display:inline-block;}
.dot1{ width: 12px;  margin: 5px 5px; height: 12px; background-color: black; border-radius: 20px;   display:none;}
.sec_dot{ width: 12px;  margin: 5px 5px; height: 12px; background-color: black; border-radius: 20px;   display:inline-block;}
.sec_dot_hidden{width: 12px;  margin: 5px 5px; height: 12px; background-color: black; border-radius: 20px;   display:none;}
.sec_dot1_hidden{width: 12px; margin: 5px 5px; height: 12px;background-color: black;border-radius: 20px;  display:none;}
.sec_dot2_hidden{width: 12px; margin: 5px 5px; height: 12px;background-color: black;border-radius: 20px;  display:none;}
.sec_dot3_hidden{width: 12px; margin: 5px 5px; height: 12px;background-color: black;border-radius: 20px;  display:none;}
.sec_dot4_hidden{width: 12px; margin: 5px 5px; height: 12px;background-color: black;border-radius: 20px;  display:none;}
.second_dot_hidden{width: 12px;  margin: 5px 5px; height: 12px; background-color:#13bfb1 ; border-radius: 20px;  display:none;}
.second_dot1_hidden{width: 12px; margin: 5px 5px; height: 12px;background-color: black;border-radius: 20px;  display:none;}
.second_dot2_hidden{width: 12px; margin: 5px 5px; height: 12px;background-color: black;border-radius: 20px;  display:none;}
.second_dot3_hidden{width: 12px; margin: 5px 5px; height: 12px;background-color: black;border-radius: 20px;  display:none;}
.second_dot4_hidden{width: 12px; margin: 5px 5px; height: 12px;background-color: black;border-radius: 20px;  display:none;}
.second_dot5_hidden{width: 12px; margin: 5px 5px; height: 12px;background-color: black;border-radius: 20px;  display:none;}
.second_dot6_hidden{width: 12px; margin: 5px 5px; height: 12px;background-color: black;border-radius: 20px;  display:none;}
.usefull{background:#ff5f83;text-align:center;width:100%;padding:5% 31% 5% 30%;margin-top:50px;  }
.now{font-size:35px;color:white;}
.andro{width:100%;text-align:center;}
.shot{font-size:21px;color:white;}
.use{padding:0;}
.apple{margin-left:0;}
.android{margin-left:0;}
.lines{border-top: 1px dashed white;width: 20%;margin-left: 40.5%;padding-bottom:10px;}
.ask{text-align:center;margin-bottom:30px;animation-name:bounceIn;animation-duration:2s;  }
.question{background: white;position: relative;padding:20px; margin-bottom:30px;}
.faq{color:white;background:black;font-size:17px;padding:4px 10px;width:19%;line-height:25px;}
.title{position: absolute;top: 12%;left: 23%;}
.ans{background: #ff5f83;width: 11%;font-size: 16px;padding: 7px 0px;text-align: center;color:white;}
.here{display: block;color: gray;position: absolute;top: 53%;right: 0%;margin-left: 16%;}
.guest{padding:0;}
.email{padding-bottom:5%;background:white;height:250px;text-align:center;}
.send{color:black;margin-top:50px;margin-left:25%;}
.input{width: 50%;padding-bottom: 1.3%;padding-top:1.4%;padding-left:10px;line-height: 0;margin-left:10%;}
.subscribe{color:black;border:1px solid lightgray;padding:1.5% 3% 1.5% 3%;background:lightgray;}
.subscribe:hover{color:white;background:#ff5f83;transition:1s;}
.contact{padding-top:5%;padding-bottom:5%;}
.touch{text-align:center;margin-bottom:30px; animation-name:bounceIn;animation-duration:2s; }
.cont{width:90%;padding:3% 0 3% 2%;margin-bottom:3%;border:1px solid lightgray;}
textarea{width:90%;border:1px solid lightgray;margin-bottom: 5%;padding-left:2%;}
.loctions{background: white;position: relative;padding:30px;}
.loction{float:left;padding-right:0px;margin-top: 23px;}
.subscribes{color:black;border:1px solid lightgray;padding:3% 6% 3% 6%;background:lightgray;}
.subscribes:hover{color:white;background:#ff5f83;transition:1s;}
.adresses{display:block;font-size:20px;margin-bottom: 63px;color:#ff5f83;transition:3s;margin-top: 2px;}
.adresses:hover{color:black;transition:0.5s;}
.adresses.seco{margin-top: -13px;}
.adresses.mess{margin-top: 69px;}
.adresses.clock{margin-top: 72px;}
.face{position: relative;background: white;height: 480px;}
.first_h{position:absolute;left:70px;}
.location{color:black;transition:1.5s;}
.loctions {background: white;position: relative;padding: 30px;height: 480px;}
.place{color:black;transition:3s;}
.absolute{margin: 0px;text-decoration: none;float: none;padding:0px 0px;position: absolute;bottom: 30px;left: 7%;}
.ico{padding-left:12px;list-style:  none;display:  inline-block;}
.icof{ background:darkblue;border-radius:50%;padding: 12px 16px;font-size:inherit;text-align:center;}
.icof:hover{background:black;color:white;transition:1s;}
.icot{background:#5f97ef;border-radius:50%;padding:12px 12px;font-size:inherit;text-align:center;}
.icot:hover{background:black;color:white;transition:1s;}
.icog{background:#f75b6b;border-radius:50%;padding:12px 12px;font-size:inherit;text-align:center;}
.icog:hover{background:black;color:white;transition:1s;}
.icol{background:#2d72e2;border-radius:50%;padding:12px 12px;font-size:inherit;text-align:center;}
.icol:hover{background:black;color:white;transition:1s;}
.icoy{background:red;border-radius:50%;padding:12px 12px;font-size:inherit;text-align:center;}
.icoy:hover{background:black;color:white;transition:1s;}
.icos{background:#5f97ef;border-radius:50%;padding:12px 12px;font-size:inherit;text-align:center;}
.icos:hover{background:black;color:white;transition:1s;}
.footer{background:#222;}
.s_name{color:white;float:left;font-size:20px;margin-top:3%;font-family: 'Roboto', sans-serif;font-weight:400;
margin-left:0px;transition:2s;}
.scrollup{font-size: 25px;color: white;text-align: center;background: #ff5f83;padding: 0px 7px 5px 10px;border-radius: 20%;
position: fixed;top: 93.5%;right: 0px;z-index: 15;display:none;}
.scrollup:hover{color:white;background:black;}

@media only screen and (min-width: 965px) {
.head .navul{padding-top:0px;float:right;margin-top:0;text-decoration:none;font-weight:100;border:none;display:  none;}
.head .navul li{list-style-type:none;display:inline-block;padding-left:20px;text-decoration:none;}
.bars{display:none;}
}
@media only screen and (max-width: 1370px) {
    .static{text-decoration:none;font-weight:100;border:none;display:inline-block;}
    .static li{list-style-type:none;display:inline-block;padding-left:20px;text-decoration:none;}
    .bars{display:none;}
}
@media only screen and (max-width: 965px) {
    .box{height:732px; width:100%;}
    .head{height:732px;background-size:initial;}
    .head .logo{width:150px;margin-left:0px;position:absolute;top:25px; }
    .head .navul{margin-top:0px;padding-top:0px;position:fixed;top:100px;right:0px;text-decoration:none;font-weight:100;border-top:1px slolid white;width:100%;display:none;}
    .head .navul li{ list-style-type:none;display:block;padding-left:42px;padding-bottom:3%;text-decoration:none;}
    .head .static{display:none;}
    .bars{display:block; position:fixed; top:40px; right:5%; }
    .best{font-size:25px;}
    .item{width: 285px;padding-right: 17px;padding-left:0px;}
    .zero{padding-bottom:0px;font-size:13px;}
    .respons{display:none;}
    .icon{font-size:15px;padding:10px 15px;}
    .gallery_img{display:inline-block;width:180px;}
    .sec_gallery{margin-left:300px;margin-left:0px;}
    .slide_act{width:375px;padding:10px;}
    .slide_sec{width:362px;padding:7px;}
    .p_name{margin-left:5%;}
    .c_name{margin-left:4%;}
    .slide_sec .p_name{margin-left:13%;}
    .slide_sec .c_name{margin-left:12%;}
    .slider{width:605px;}
    .face{height:423px;}
    .ico{padding-right:0px;}
    .left{left: 1235.5px;}
    .active_dot{display:none;}
    .second_dot_hidden{display:inline-block;}
    .second_dot2_hidden{display:inline-block;}
    .owl_theme{width:565px;}
 }
@media only screen and (max-width: 1170px) {
    .slide_act{width:284px;padding:32px;}
    .slide_sec{width:284px;padding:32px;}
    .dot{display:none;}
    .active_dot{display:none;}
    .second_dot_hidden{display:inline-block;}
    .second_dot2_hidden{display:inline-block;}
    .second_dot3_hidden{display:inline-block;}
    .face{height: 480px;}
    .ico{padding-right:0px;}
    .download.photo_part{width:50%;}
    .image{margin-left:0px;}
    .download .install{width:40%;float:left;}
    .secdownload .install{width:40%;float:right;}    
}
@media only screen and (max-width: 1205px) {.owl_theme{width: 855px;margin: 0px auto;}  }
@media only screen and (max-width: 991px) {.static{position: fixed;top:-35px;}.respons{display:none;} }
@media only screen and (max-width: 995px) {.owl_theme{width: 855px;margin: 0px -59px;} }
@media only screen and (max-width: 885px) {
    .owl_theme{width:565px;margin:  0 auto;}
    .secdownload{height:800px;}
    .dot{display:none;}
    .active_dot{display:none;}
    .sec_dot{display:inline-block;}
    .dot1 {display:inline-block;}
    .second_dot_hidden{display:inline-block;}
    .second_dot1_hidden{display:inline-block;}
    .second_dot2_hidden{display:inline-block;}
    .second_dot3_hidden{display:inline-block;}
    .second_dot4_hidden{display:inline-block;}
    .second_dot5_hidden{display:inline-block;}
}
@media only screen and (max-width: 768px) {
.box{height:1000px;width:100%;}
.head{ height:1000px;background-size:cover;}
.head .logo{width:150px;margin-left:0px; position:absolute;top:25px;}
.head .navul{float:left;margin-top:0px;padding-top:0px;position:fixed;top:100px;right:0px;text-decoration:none;font-weight:100;border-top:1px slolid white;width:100%;display:none;}
.head .navul li{list-style-type:none;display:block;padding-left:42px;padding-bottom:3%;text-decoration:none; }
.bars{display:block;position:fixed;top:40px; }
 h1{margin-top:0px;font-size: 14px;padding-right: 1%;line-height:2;}
.hand{width: 195px;left:0px;}
.best{font-size:25px;}
.download{height:600px;}
.input{margin-left:0;}
.icon{font-size: 15px;padding: 8px 8px;margin-bottom:15px;}
.icons{font-size:20px;padding:5px 9px;}
.zero{padding-bottom:0px;font-size:13px;}
.respons{display:block;position:absolute;left: -47px;top:460px;}
.title{top:0;left:25%;}
.here{top:30%;margin-left:30%;font-size:12px;}
.ans{font-size:10px;padding-top:5px;}
.shot{font-size:13px;}
.now{font-size:25px;}
.apple{padding-right:45px;}
.android{padding-right:45px;}
.send{font-size:25px;margin-left:0;}
.location{margin-left:0px;}
.ico{display:none;}
.place{left:20%;}
.adresses{display:block;}
.place{left:33%;}
.ico{padding: 6% 0 8% 7%;}
.s_name{font-size:15px;}
.end{float:center;}
.end li{display:block;}
.sec_play{padding:15px 15px;font-size:20px;}
.p_info{width:40%;}
.faq{font-size: 9px;padding-right:0px;padding-left:0px;}
.question{padding: 22px;}
.gallery_img{display:block;width:250px;}
.sec_gallery{margin-left:100px;}
.slide_gallery{width:1145px;}
.active_dot{display:none;}
.dot{display:none;}
.play{margin-top:30%;font-size:45px;}
.item img{width:100%;display:block;}
.slider{width:311px;}
.act_dot{display:inline-block;}
.iframe{margin-left:0;width: 360px;margin-left:10px;}
.sec_dot_hidden{display:inline-block;}
.sec_dot1_hidden{display:inline-block;}
.sec_dot2_hidden{display:inline-block;}
.sec_dot3_hidden{display:inline-block;}
.sec_dot4_hidden{display:inline-block;}
.sec_dot{display:none;}
.left{left:936px;}
.slide_act{width:295px;}
.slide_sec{width:295px;}
.company_slide{width:2820px;}
.owl_theme{width:280px;}
.dot{display:none;}
.face{height:465px;}
.download.photo_part{width:100%;}
.download .install{width:100%;margin-top:15%;}
.secdownload .install{width:100%;margin-top:15%;}
}
@media only screen and (max-width: 325px) {
    .place{font-size:10px;}
    .owl_theme{margin-left: -46px;}
    .item{width: 285px;padding-right: 0px;}
    .slider{width: 311px;margin: 0px -29.8px;}
    .c_name{font-size:13px;}
    .p_name{margin-left: 4%;}
    .iframe{width:250px;left:-13px;}
    .responsive_active{font-size: 14px;}}




